body {
  background-color: white;
}

img {
  border-radius: 15%;
  outline: #ffd000;
}

#btn,
#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6 {
  background: #ffd000;
  text-shadow: 1px 1px #000000;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: #ffd000;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  transition: 0.5s;
  background-color: #ffd000;
  color: #0f0f0f;
}

#maincontainer {
  background-color: #444444;
  color: white;
  padding-bottom: 50px;
}

.nav-link:hover {
	transition: 0.5s;
	background-color: #ffd000;
}

.nav-item {
  padding-left: 8vw;
}

#pro-info {
  padding-top: 10px;
}

#row1 {
  padding-top: 10vh;
}

#cartmain {
  background-color: white;
  max-height: 100vh;
}
#cart-heading {
  padding-top: 35px;
  font-size: 30px;
}

#table-row {
  padding-top: 50px;
}

#about {
  background-color: #444444;
  max-height: 25vh;
}
#about-row {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #ffd000;
  color: gray;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}


span.price {
  float: right;
  color: grey;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
